PORT=5000
DATABASE_URL=postgresql://postgres:su-password@db.supabase.co:5432/postgres
JWT_SECRET=tu_secreto_super_seguro_para_jwt

# Configuración de Correo para Notificación de Pedidos (Nodemailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu-correo@gmail.com
EMAIL_PASS=tu-contraseña-de-aplicacion-de-gmail
EMAIL_RECEIVER=correo-del-dueno@sgrimport.com
